name: Deploy to Firebase Hosting on merge

on:
  push:
    branches:
      - main  
      - dev
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v4

      # Step 2: Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      # Step 3: Install dependencies in frontend folder
      - name: Install dependencies
        run: npm ci
        working-directory: ./frontend

      # Step 4: Build the project in frontend folder
      - name: Build project
        run: npm run build
        working-directory: ./frontend

      # Step 5: Deploy to Firebase Hosting
      - name: Deploy to Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_GCASH_AUDIT_SYSTEM }}
          channelId: live        # use "live" for production, or "staging" for preview channels
          projectId: gcash-audit-system
          